<!-- Works in tendem with image_template.html and button_template.html-->
<!-- TOKENS: NAME, IMAGES, GITHUB_BUTTON-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Poh Lin Wei">
    <meta name="description" content="project {NAME} ">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Project: {NAME}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <a href="../index.html#works">Back to Main</a>
    </nav>
    <header>
      <div id="logo"></div>
    </header>
    <main>
      <h1 class="project-name">{NAME}</h1>
      <div class="wrapper">
        {DESCRIPTION}
        {IMAGES}
      </div>
      {GITHUB_BUTTON}
    </main>
    <footer>
      <p>© Copyright 2020 Poh Lin Wei. All rights reserved.</p>
    </footer>
  </body>
</html>
